 /* #para1ID{
    color: red;
    background-color: lime;
 }

 .para{
    color: purple;
    background-color: aqua;
 }

 p{
    color: white;
    background-color: blue;
 }
  */


  p{
   color: red;
  }

  *{
   color: red;
  }